body {
    background-image: url("../../../../themes/Basic\ One/assets/img/Fondo-Login-Diseño-interfaz.webp");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5fb;

}


.login-card {
    background: #1e1e1e;
    border-radius: 10px;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
}

.login-card h2 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #333;
}

.form-control {
    border-radius: 5px;
    padding: 0.75rem 1rem;
    border: 1px solid #ddd;
}

.form-control:focus {
    border-color: #122326;
    box-shadow: 0 0 5px rgba(73, 201, 252, 0.5);
}

.btn-primary {
    background-color: #6a11cb;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #2575fc;
}

.social-login .btn {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.social-login .btn i {
    margin-right: 0.5rem;
}

.footer-links {
    margin-top: 1rem;
    text-align: center;
}

.footer-links a {
    color: #6a11cb;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.text-center{
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: -15px;
    
}
input{
    background-color: #b5b5b5 !important;
    border: none !important;
}